@import url('https://fonts.googleapis.com/css?family=Acme');

body {
	background-image: url('back2.jpeg');
	background-size: cover;
	color: white;
	font-family: Acme, 'sans-serif';
}

header {
	float: top;
	height: 70px;
	margin-top: 10px;
}

.inupbut {
	float: right;
	cursor: pointer;
	background-color: transparent;
	width: 150px;
	height: 60px;
	border-style: none;
	color: white;
	font-family: Acme, 'sans-serif';
	font-size:  30px;
	text-align: center;
}


.inupbut:hover {	
	background-color: rgba(0,0,0,0.7);
	font-size: 35px;
	border-radius: 8px;
}

#empty {
	height: 4px;
	background-color: rgba(0,0,0,0.7);
}

#slog {
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	margin: 10px 20% 0px 20%;
	padding: 0px 0px;
	border-radius: 10px;
	font-size: 25px;
}
#companybut {
	background-color: transparent;
	width: 150px;
	height: 60px;
	border-style: none;
	color: white;
	font-family: Acme, 'sans-serif';
	text-align: center;
	cursor: default;
	float: left;
	font-size: 35px;
}

#heading:hover {
	background-color: rgba(0,0,0,0);
}

#getstarted {
	border-style: none;
	background-color: yellow;
	color: black;
	cursor: pointer;
	width: 300px;
	height: 70px;
	border-style: none;
	font-family: Acme, 'sans-serif';
	font-size:  35px;
	text-align: center;
	margin: 100px 0px 0px 37%;
}