<!-- font-family: 'Alegreya SC', serif; -->

<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="/static/home.css">
</head>
<body>
      	<ul>

      		<li>Dashboard</li>

      		<li>Sale
              	    <ul id="temp">
      		    	<li><p>Estimates</p></li>
      		    	<li><p>Sales Orders</li>
      		    	<li><p>Delivery Challans</li>
      		    	<li><a href="{{url_for('invoice')}}">Invoices</li>
      		    	<li><p>Payment Received</li>
      		    	<li><p>Recurring Invoices</p></li>
      		    	<li><p>Credit Notes</li>
      		    </ul>
      		</li>

      		<li>Purchases
      		    <ul>
      		    	<li>Expenses</li>
      		    	<li>Recurring Expenses</li>
      		    	<li>Purchase Orders</li>
      		    	<li>Bills</li>
      		    	<li>Payment Made</li>
      		    	<li>Recurring Bills</li>
      		    	<li>Vendor Credits</li>
      		    </ul>
       		</li>

      		<li>Time Tracking
      	     	    <ul>
      		    	<li>Projects</li>
      		    	<li>Timesheet</li>
      		    </ul>
      		</li>
      		<li>Accountant
      		    <ul>
      		    	<li>Manual Journals</li>
      		    	<li>Currency Adjustment</li>
      		    	<li>Chart of Accounts</li>
      		    	<li>Transation Locking</li>
      		    </ul>
      		</li>

      	</ul>
</body>
</html>
