<!-- font-family: 'Alegreya SC', serif;
      <a href="{{url_for('invoice')}}">
 -->

<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\arvind kumar\Desktop\gitHarsheetRepo\InvoiceGen\InvoiceGen\static\home.css">
</head>
<body>
      	<ul>

      		<li>Dashboard</li>

      		<li>Sale
              	    
      		    	<button class="starting" onclick='location.href="{{url_for()}}"'>Estimates</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Sales Orders</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Delivery Challans</button>
      		    	<button onclick='location.href="{{url_for('invoice.html')}}"'>Invoices</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Payment Received</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Recurring Invoices</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Credit Notes</button>
      		    
      		</li>

      		<li>Purchases
      		
      		    	<button class="starting" onclick='location.href="{{url_for()}}"'>Expenses</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Recurring Expenses</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Purchase Orders</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Bills</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Payment Made</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Recurring Bills</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Vendor Credits</button>
      		
       		</li>

      		<li>Time Tracking
      	     	
      		    	<button class="starting" onclick='location.href="{{url_for()}}"'>Projects</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Timesheet</button>
      		
      		</li>
      		<li>Accountant
      		    
      		    	<button class="starting" onclick='location.href="{{url_for()}}"'>Manual Journals</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Currency Adjustment</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Chart of Accounts</button>
      		    	<button onclick='location.href="{{url_for()}}"'>Transation Locking</button>
      		    
      		</li>

      	</ul>
</body>
</html>
