<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/static/home.css">
</head>
<body>

	<header>
		<button id="companybut"><b>Fintech</b></button>
		<button class="inupbut" onclick="location.href='{{url_for('login')}}'">Login</button>
		<button class="inupbut" onclick="location.href='{{url_for('signup')}}'">Signup</button>
	</header>
	<div id="empty"></div>
	<div id="slog"><h1>Life’s Better When We’re Connected!</h1></div>
	<div>
		<button id="getstarted" onclick="location.href='{{url_for('login')}}'"><b>Lets Get Started</b></button>
	</div>
</body>
</html>