<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\arvind kumar\Desktop\gitHarsheetRepo\InvoiceGen\InvoiceGen\static\loginsignin.css">
</head>
<body>
	<div id="loginformdiv">
		<form method="POST" >
			{{form.hidden_tag()}}	<br>
			{{form.email.label}} <br> {{form.email()}}	<br>
			{{form.password.label}} <br> {{form.password()}}	<br>
			{{form.submit()}}
		</form>
		<button id="loginformsignupbut" type="button" name="button" onclick="location.href='{{url_for('signup')}}'">Sign Up</button>
	</div>
</body>
</html>
