<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/static/loginsignin.css">
</head>
<body>
	<div id="signupformdiv">
		<form method='POST'>
			{{form.hidden_tag()}}	<br>
			{{form.fname.label}} <br> {{form.fname}}	<br>
			{{form.lname.label}} <br> {{form.lname}}	<br>
			{{form.companyname.label}} <br> {{form.companyname}} <br>
			{{form.email.label}} <br> {{form.email}}	<br>
			{{form.phone.label}} <br> {{form.phone}} <br>
			{{form.address.label}} <br> {{form.address}} <br>
			{{form.gstnumber.label}} <br> {{form.gstnumber}} <br>
			{{form.password.label}} <br> {{form.password}}	<br>
			{{form.confirm_password.label}} <br> {{form.confirm_password}}    <br>
			{{form.submit(class_="submitbut")}}
		</form>
	</div>
</body>
</html>
